@import '~vuetify/src/styles/settings/_variables';

$black: #000;
$brown: #524336;
$orange: #f39200;
$font-hover: #999997;
$gray1: #000a12;
$gray2: #263238;
$gray3: #4f5b62;
$gray4: #babdbe;
$gray5: #eceff1;
$white: #fff;

$body-font-family: 'Roboto', sans-serif;
